* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body,
html {
        font-family: Cinzel;
        /* font-family: "DM+Sans", sans-serif; */
        font-weight: 300;
        color: rgb(205, 206, 208);
        background: linear-gradient(to left, rgb(29, 32, 42), rgb(37, 38, 54));
}

.title {
        text-align: center;
        grid-row: 1;
        font-size: 1.5rem;
        font-weight: 500;
        color: #e2e2e286;
        margin-top: 15px;
}

.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
}
.container-table-shadow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        max-width: 90%;
        background-color: transparent;
        box-shadow: 3px 3px 10px 1px rgba(7, 7, 31, 0), -1px -1px 10px 1px rgba(7, 7, 31, 0.528);
        padding: 10px;
        border-radius: 8px;
}
.wrapper-table-choice {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 100%;
}
.button-choice-table {
        padding: 20px;
        border-radius: 5px;
        min-width: 40px;
        border: none;
        transition: 0.3s ease-in-out;
        background-color: rgb(29, 32, 42);
        color: rgb(231, 234, 240);
        text-shadow: 0px 0px 10px blue;
        font-family: Cinzel;
        /* font-family: "DM+Sans", sans-serif; */
        font-weight: 300;
        font-size: 1.3rem;
}
.button-choice-table:hover {
        transform: scale(0.9);
}

.wrapper-operations {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: transparent;
        padding: 10px;
        border-radius: 8px;
        min-width: 100%;
}

.button-choice-operation {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: none;
        background-color: rgb(29, 32, 42);
        color: rgb(248, 24, 24);
        text-shadow: 0px 0px 10px blue;
        font-family: Cinzel;
        font-weight: 900;
        font-size: 1.3rem;
}

.button-submit {
        max-width: 130px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: rgb(29, 32, 42);
        color: rgb(134, 161, 234);
        text-shadow: 0px 0px 10px blue;
        font-family: Cinzel; 
        font-size: 1.2rem;
        /* font-family: "DM+Sans", sans-serif; */
        font-weight: 500;
        transition: 0.5s ease-in-out;
}

.button-submit:active {
        border: white 1px solid;
}

.displayMultiplicationResult {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        list-style-type: none;
        min-width: 100%;
        background-color: transparent;
        border-radius: 8px;
}
.displayMultiplicationResult li {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        list-style-type: none;
        min-width: 30px;
        background-color: transparent;
        box-shadow: 3px 3px 10px 1px rgba(7, 7, 31, 0), -1px -1px 10px 1px rgba(7, 7, 31, 0.528);
        border-radius: 8px;
        font-size: 1.3rem;
}

.shadow {
        box-shadow: 2px 2px 3px 1px rgba(12, 12, 33, 0.37), -2px -1px 5px 0px rgba(25, 25, 62, 0.225);
}
